:root {
    --light: #1e1e1e !important;
    --dark: #dadada !important;
    --secondary: #b48ead !important;
    --visited: #81a1c1 !important;
    --tertiary: #ebcb8b !important;
    --primary: #bf616a !important;
    --gray: #9ba09d !important;
    --lightgray: #303337 !important;
    --outlinegray: #43484c !important;
    --highlighted: #574010;
    --header: #5e81ac;
    --title: #8fbcbb;
    --scrollbar: #4c566a;
    --scrollbar-track: #2e3440;
}