:root {
    --light: #1e1e1e !important;
    --dark: #dadada !important;

    --visited: #81a1c1 !important;

    --primary: #bf616a !important;
    --secondary: #8ea3b4 !important;
    --tertiary: #ebcb8b !important;

    --gray: #9ba09d !important;
    --lightgray: #303337 !important;
    --outlinegray: #43484c !important;

    --highlighted: #574010;

    --header: transparent;
    --title: #8fbcbb;

    --scrollbar: #4c566a;
    --scrollbar-track: #2e3440;
}