// Replace this with your own font imports!
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --font-body: "Ibarra Real Nova", Literaturnaya, serif;
  --font-header: "Ibarra Real Nova", Literaturnaya, serif;
  --font-mono: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Example local font declaration

// @font-face {
//   font-family: "PP Mori";
//   font-style: normal;
//   font-weight: normal;
//   src: url('fonts/PPMori-SemiBold.woff2');
// }