@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@0;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Alegreya+Sans:wght@400;500;700&display=swap');

:root {
  --font-header: 'Alegreya SC', serif;
  --font-body: 'Ibarra Real Nova', Literaturnaya, serif;

  --font-sans: 'IBM Plex Sans', 'Alegreya Sans', sans-serif;

  --font-mono: 'Cascadia Mono', monospace;
}