@import "variables";

.markdown {
  line-height: 1.6;
  font-family: var(--page-font, var(--font-body));

  p,
  ul,
  ol,
  li,
  td,
  th,
  tr,
  a {
    font-family: inherit;
  }

  // remove padding at the beginning of page
  > :first-child {
    margin-top: 0;
  }

  // # HEADINGS
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--page-font-heading, var(--font-header));
    font-weight: bold;
    text-align: center;

    line-height: 1;
    margin-bottom: $padding-4;

    a.anchor {
      color: inherit;
      opacity: 0;
      font-size: 0.75em;
      vertical-align: middle;
      text-decoration: none;
    }

    &:hover a.anchor,
    a.anchor:focus {
      opacity: 90%;
    }
  }

  h1 {
    font-size: $font-size-h1;
    color: var(--h1);
  }

  > h1.page-title {
    color: var(--dark);
  }

  h2 {
    font-size: $font-size-h1 - 0.25em;
    color: var(--h2);
  }

  h3 {
    font-size: $font-size-h1 - 0.5em;
    color: var(--h3);
  }

  h4 {
    font-size: $font-size-h1 - 0.75em;
    color: var(--h4);
  }

  h5 {
    font-size: $font-size-h1 - 1em;
    color: var(--h5);
  }

  h6 {
    font-size: $font-size-h1 - 1.25em;
    color: var(--h6);
  }

  // # BOLD
  b,
  optgroup,
  strong {
    font-weight: bolder;
  }

  // # LINKS
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // # IMAGES
  img {
    max-width: 100%;
    height: auto;
  }

  // # CODE
  code {
    padding: 0 $padding-4;
    background: var(--gray-200);
    border-radius: $border-radius;
    font-size: 0.875em;
  }

  pre {
    padding: $padding-16;
    background: var(--gray-100);
    border-radius: $border-radius;
    overflow-x: auto;

    code {
      padding: 0;
      background: none;
    }
  }

  // # PARAGRAPHS
  p {
    word-wrap: break-word;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 0;
  }

  // Preserve visible blank lines between markdown paragraphs.
  p+p {
    margin-top: 1em;
  }

  // ## Text indent
  >p {
    text-indent: 2em;
  }

  // ## No indent
  .no-indent p {
    text-indent: 0;
  }

  // ## No indent (right)
  .no-indent-right p {
    text-indent: 0;
    text-align: right;
    margin: 1rem;
  }

  // # QUOTE
  blockquote {
    border-left: 3px solid var(--secondary);
    background-color: var(--lightgray);

    margin-left: 0;
    padding-left: 1em;
    transition: border-color 0.2s ease;
  }

  table {
    overflow: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: $padding-8;
    margin-bottom: $padding-8;

    tr th:not([align]),
    tr td:not([align]) {
      padding: $padding-4 $padding-8;
      border: $padding-1 solid var(--gray-200);
      text-align: center;
    }

    tr th,
    tr td {
      padding: $padding-4 $padding-8;
      border: $padding-1 solid var(--gray-200);
    }

    tr:nth-child(2n) {
      background: var(--gray-100);
    }
  }

  // # HORIZONTAL RULE
  hr {
    height: $padding-1;
    border: none;
    background: var(--gray-200);
  }

  // # LISTS
  // ## Unordered lists
  ul {
    padding-inline-start: $padding-16 * 2;
    margin-top: 0;
    margin-bottom: 0;
  }

  // ## Ordered lists
  // Render nested ordered lists as 1., 1.1., 1.2.1., etc.
  ol:not(.footnotes-list) {
    list-style-type: none;
    counter-reset: item;

    padding-inline-start: 2.2em;
    margin-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;

    >li {
      display: block;
      counter-increment: item;
    }

    >li::before {
      content: counters(item, ".") ". ";
      display: inline-block;
      width: 2.2em;
      margin-inline-start: -2.2em;
      text-align: end;
      padding-inline-end: $padding-8;
      box-sizing: border-box;
      vertical-align: baseline;
    }

    ol {
      counter-reset: item;
      padding-inline-start: 1.5em;
    }
  }

  // # FOOTNOTES
  // Keep Hugo footnotes on regular decimal markers.
  .footnotes ol {
    list-style-type: decimal;
    counter-reset: none;
    padding-inline-start: $padding-16 * 2;
    margin-inline-start: initial;
    margin-top: 1px;
    margin-bottom: 0;

    >li {
      display: list-item;
      counter-increment: none;
    }

    >li::before {
      content: none;
    }

    ol {
      counter-reset: none;
      padding-inline-start: $padding-16 * 2;
    }
  }

  .footnotes {
    margin-top: $padding-16 * 2;
    padding-top: $padding-16;
    border-top: 1px solid var(--lightgray);

    font-size: 20px;

    >hr {
      display: none;
    }

    &::before {
      content: "Footnotes";
      display: block;
      font-family: var(--page-font, var(--font-body));
      margin-bottom: $padding-8;
      text-align: center;
      font-weight: 600;
      letter-spacing: 0.04em;
      color: var(--gray);
    }
  }

  // # DEFINITION LISTS
  dl {
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
      margin-inline-start: 0;
      margin-bottom: $padding-16;
    }
  }

  // Special case for highlighted code with line numbers
  .highlight table tr {
    td:nth-child(1) pre {
      margin: 0;
      padding-inline-end: 0;
    }

    td:nth-child(2) pre {
      margin: 0;
      padding-inline-start: 0;
    }
  }

  details {
    padding: $padding-16;
    border: none !important;
    font-family: var(--page-font, var(--font-body));
    font-weight: bold;
    color: var(--dark);
    // border: $padding-1 solid var(--gray-200);
    // border-radius: $border-radius;

    summary {
      line-height: 1;
      padding: $padding-16;
      margin: -$padding-16;
      cursor: pointer;
    }

    &[open] summary {
      margin-bottom: 0;
    }
  }

  figure {
    margin: $padding-16 0;

    figcaption p {
      margin-top: 0;
    }
  }
}

.markdown-inner {

  // Util class to remove extra margin in nested markdown content
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
