@import "variables";

.markdown {
  line-height: 1.6;

  // remove padding at the beginning of page
  > :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    line-height: 1;
    margin-top: 1.5em;
    margin-bottom: $padding-16;
    text-align: center;

    a.anchor {
      opacity: 0;
      font-size: 0.75em;
      vertical-align: middle;
      text-decoration: none;
    }

    &:hover a.anchor,
    a.anchor:focus {
      opacity: initial;
    }
  }

  b,
  optgroup,
  strong {
    font-weight: bolder;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    // &:visited {
    //   color: var(--color-visited-link);
    // }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  code {
    padding: 0 $padding-4;
    background: var(--gray-200);
    border-radius: $border-radius;
    font-size: 0.875em;
  }

  pre {
    padding: $padding-16;
    background: var(--gray-100);
    border-radius: $border-radius;
    overflow-x: auto;

    code {
      padding: 0;
      background: none;
    }
  }

  p {
    word-wrap: break-word;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 0;
  }

  // Preserve visible blank lines between markdown paragraphs.
  p + p {
    margin-top: 1em;
  }

  // Collapse extra empty paragraphs so 2+ blank lines render like 1.
  p:empty {
    display: none;
  }

  > p {
    text-indent: 2em;
  }

  .no-indent p {
    text-indent: 0;
  }

  .no-indent-right p {
    text-indent: 0;
    text-align: right;
    margin: 1rem;
  }

  // blockquote {
  //   margin: $padding-16 0;
  //   padding: $padding-8 $padding-16 $padding-8 ($padding-16 - $padding-4); //to keep total left space 16dp

  //   border-inline-start: $padding-4 solid var(--gray-200);
  //   border-radius: $border-radius;

  //   :first-child {
  //     margin-top: 0;
  //   }
  //   :last-child {
  //     margin-bottom: 0;
  //   }
  // }

  table {
    overflow: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: $padding-8;
    margin-bottom: $padding-8;

    tr th:not([align]),
    tr td:not([align]) {
      padding: $padding-4 $padding-8;
      border: $padding-1 solid var(--gray-200);
      text-align: center;
    }

    tr th,
    tr td {
      padding: $padding-4 $padding-8;
      border: $padding-1 solid var(--gray-200);
    }

    tr:nth-child(2n) {
      background: var(--gray-100);
    }
  }

  hr {
    height: $padding-1;
    border: none;
    background: var(--gray-200);
  }

  ul {
    padding-inline-start: $padding-16 * 2;
    margin-top: 0;
    margin-bottom: 0;
  }

  // Render nested ordered lists as 1., 1.1., 1.2.1., etc.
  ol:not(.footnotes-list) {
    list-style-type: none;
    counter-reset: item;
    padding-inline-start: 2.2em;
    margin-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;

    > li {
      display: block;
      counter-increment: item;
    }

    > li::before {
      content: counters(item, ".") ". ";
      display: inline-block;
      width: 2.2em;
      margin-inline-start: -2.2em;
      text-align: end;
      padding-inline-end: $padding-8;
      box-sizing: border-box;
      vertical-align: baseline;
    }

    ol {
      counter-reset: item;
      padding-inline-start: 1.5em;
    }
  }

  // Keep Hugo footnotes on regular decimal markers.
  .footnotes ol {
    list-style-type: decimal;
    counter-reset: none;
    padding-inline-start: $padding-16 * 2;
    margin-inline-start: initial;
    margin-top: 1px;
    margin-bottom: 0;

    > li {
      display: list-item;
      counter-increment: none;
    }

    > li::before {
      content: none;
    }

    ol {
      counter-reset: none;
      padding-inline-start: $padding-16 * 2;
    }
  }

  .footnotes {
    margin-top: $padding-16 * 2;
    padding-top: $padding-16;
    border-top: 1px solid var(--lightgray);

    > hr {
      display: none;
    }

    &::before {
      content: "Footnotes";
      display: block;
      font-family: var(--font-body);
      margin-bottom: $padding-8;
      text-align: center;
      font-weight: 600;
      letter-spacing: 0.04em;
      color: var(--gray);
    }
  }

  dl {
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
      margin-inline-start: 0;
      margin-bottom: $padding-16;
    }
  }

  // Special case for highlighted code with line numbers
  .highlight table tr {
    td:nth-child(1) pre {
      margin: 0;
      padding-inline-end: 0;
    }

    td:nth-child(2) pre {
      margin: 0;
      padding-inline-start: 0;
    }
  }

  details {
    padding: $padding-16;
    border: none !important;
    font-family: var(--font-body);
    font-weight: bold;
    color: var(--dark);
    // border: $padding-1 solid var(--gray-200);
    // border-radius: $border-radius;

    summary {
      line-height: 1;
      padding: $padding-16;
      margin: -$padding-16;
      cursor: pointer;
    }

    &[open] summary {
      margin-bottom: 0;
    }
  }

  figure {
    margin: $padding-16 0;

    figcaption p {
      margin-top: 0;
    }
  }
}

.markdown-inner {

  // Util class to remove extra margin in nested markdown content
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
